# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env
Shopify.env # If you still have this file, ignore it too

SHOPIFY_SHOP=fakestore-practice1.myshopify.com
SHOPIFY_TOKEN=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
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=admin123
DB_NAME=shopifyadmin